.stay_connet {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .stay_connet .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .stay_connet form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }
  .stay_connet form .mbr-section-btn .btn {
    display: inline-flex;
  }
  @media (max-width: 991px) {
    .stay_connet form .mbr-section-btn .btn {
      width: 100%;
    }
  }
  .stay_connet .content-head {
    max-width: 800px;
  }